main {
	display: flex;
}

section {
	width: auto;
	height: 500px;
	background: #fff;
	border: 1px solid #a2a2a2;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
}

.caixa {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}

span#baloes_inteiros, span#baloes_estourados {
	font-size: 40px;
}

div#cronometro {
	width: 140px;
	height: 132px;
	background: url('../imagens/cronometro.png');
	text-align: center;
}

div#cronometro span {
	color: red;
	font-size: 30px;
}

div#cenario {
	width: 600px;
	min-width: 600px;
	height: 500px;
	background: url('../imagens/cenario.png');
	background-position: bottom;
	line-height: 25px;
}

div#cenario img {
	margin-right: 14px !important;
}

@media (max-width: 760px) {
	main {
		flex-direction: column;
	}

	section {
		flex-direction: row;
		justify-content: space-around;
		height: auto;
		width: 600px;
		margin-bottom: 14px;
	}
}