main {
	float: left;
	width: auto;
	height: 500px;
	background: #fff;
	border: 1px solid #a2a2a2;
}

table#cronometro {
	width: 140px;
	height: 132px;
}

table#cronometro td {
	background: url('../imagens/cronometro.png');
}

div#fundo {
	float: left;
	width: 600px;
	height: 500px;
	background: url('../imagens/cenario.png');
	background-position: bottom;
}